p, h1, h2, h3 {
    text-align: center;
    font-family: Arial;
}
.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    text-align: center;
    grid-template-rows: 350%;
    /* height: 350% */
}
.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

    grid-template-rows: 350%;
}
#lua, #js {
    width: 80%;
    min-height: 100%;
    height: 100%;
    /* height: 350%    */
}
#jsTotal {
    width: 90%;
    height: 100%;
    /* height: 350% */
}
#spacer {
    min-height: 100%;
}